@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
:root{
  overflow-x: hidden;
}
.header_color{
  background-color: black;
}
.result ul{
  border-top:1px solid #999 ;
  padding: 15px 10px ;
}
.result ul li{
  list-style: none;
  padding: 10px 5px;
  /* border-bottom: 1px solid #999; */
}
.result ul li:hover{
  background-color: #e9f3ff;
}